---
title: User page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="user-info">
		<div class="user-info__cover" style="background-image: url(./img/03.JPG);"></div>
		<div class="user-info__container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="user-info__box">
							<div class="user-info__avatar" style="background-image: url(https://placecage.com/100/100);"></div>
							<div class="user-info__content">
								<div class="user-info__title">"User Name"</div>
								<div class="user-info__description">Did something awesome!!!</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-5 col-sm-12 js-fixed-wrapper">
				{% include 'partials/pages/_user-page-sidebar.html' %}
			</div>
			<div class="col-lg-8 col-md-7 col-sm-12 pull-right">
				{% include 'partials/pages/_user-page-content.html' %}
			</div>
		</div>
	</div>	

{% endblock %}
