<div class="post">
	<div class="post__frame">
		<iframe src="https://www.youtube.com/embed/Stw6INIS570" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="text">
		<em>
			<strong>Lorem ipsum dolor sit amet.</strong>
			<br />
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolorem laudantium magnam, architecto fuga est eveniet numquam amet tempora laborum possimus sint perspiciatis voluptas vitae ex harum illum earum! Temporibus, nisi, fugit! Fugiat, fuga quam deleniti. Vero error magnam, eos.
		</em>
		<br />
		<br />
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est saepe tenetur nemo, exercitationem quis laudantium cum iure repellat ex id veniam quasi eveniet debitis deleniti praesentium reprehenderit itaque odit nesciunt! Rem inventore quia, quam beatae aliquam, quae, alias expedita architecto eum rerum doloremque obcaecati quo autem suscipit similique itaque iusto repellat distinctio. Ratione repudiandae quo odio, aspernatur iure nostrum obcaecati quaerat saepe consequatur autem expedita fugiat quod earum inventore nemo rem dolorum, atque consectetur quidem. Labore quod, molestias, iure dolorem aliquam similique sunt sit. Accusantium omnis doloribus, reprehenderit maxime officiis veniam sunt cumque numquam labore illum consequuntur tempora, eos ea!
		<br />
		<br />
		Lorem ipsum.
		<strong>Lorem ipsum dolor sit.</strong>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nobis dicta sit quisquam odio hic laudantium ut sed quas quam.
		<em>1. Lorem ipsum.</em>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quia.
		<br />
		<br />
		<em>2. Lorem ipsum.</em>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quis, quos.
		<br />
		<br />
		<em>3. Lorem ipsum.</em>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi magni praesentium, nemo!
	</div>
</div>