.post
	padding: 15px
	margin: 0 auto
	// max-width: 712px
	border-bottom: 2px solid rgba(5,45,73,0.06999999999999995) 
	background: $white 
	&:not(:first-child)
		margin-bottom: 15px  
	&__frame
		position: relative
		padding-bottom: 56.25%
		margin-bottom: 20px
		width: 100%
		height: 0
		iframe
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 100%
	a
		color: $orange

.info
	margin: 15px 0
	+bold
	text-align: center
	text-transform: uppercase